.themetogglebtn{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 1.25rem;
    width: 4.4rem;
    border: 2.5px solid rgb(210, 212, 211);
    border-radius: 4rem;
    position: relative;
    padding: 0.1rem;
}

.ball{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 2rem;
    background-color: rgb(19, 185, 91);
    position: absolute;
    cursor: pointer;
}

.ball:hover{
    transition: all ease 0.7s;
}




